td {
  width: 40px;
  height: 40px;
  border: 1px black solid;
  text-align: center;
  font-size: 24px;
}

table {
  border: 2px black solid;
  border-collapse: collapse;
}

.container {
  display: flex;
}

#hand2 {
  width: 80px;
  border: 2px black solid;
  margin-right: 10px;
  text-align: center;
}

#hand1 {
  width: 80px;
  border: 2px black solid;
  margin-left: 10px;
}
